---
import Main from "@layouts/Main.astro"
import Section from "@layouts/Section.astro";
import Card from "@components/Card.astro";
import { getCollection, CollectionEntry } from "astro:content";
import { MONTH } from "src/types/date";

const projects = (await getCollection('projects')).sort((a: CollectionEntry<'projects'>, b: CollectionEntry<'projects'>) => {
  return b.data.projectFinish.setHours(0,0,0,0) - a.data.projectFinish.setHours(0,0,0,0)
})

const builtDate = projects.map(project => {
  const startMonth = project.data.projectStart.getMonth()
  const startYear = project.data.projectStart.getFullYear()
  const finishMonth = project.data.projectFinish.getMonth()
  const finishYear = project.data.projectFinish.getFullYear()

  const start = `${MONTH[startMonth]} ${startYear}`
  const finish = `${MONTH[finishMonth]} ${finishYear}`
  return start === finish ? start : `${start} - ${finish}`
})

---

<Main title='Cat n Code | Thoriq Adillah - Projects' type="website" description="See Thoriq Adillah's projects during his college years">
	<Section emoji='🚧' summary='In My Spare Time' title="Projects That I Can Show Off" classname='mt-24'>
    <p class="text-white">
      Beside internship and part time job, I also have done multiple projects during my college years.
      Click one of them to learn more about them.
    </p>
  </Section>
  <div class='max-w-7xl mt-10 mx-auto'>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 flex flex-col items-center">
      { projects.map((project, i) => {
          return  <Card title={ project.data.title } 
                        tags={ project.data.tags } 
                        href={ '/projects/' + project.slug } 
                        stakeholder={ project.data.stakeholder } 
                        builtDate={ builtDate[i] } 
                        containsDemo={ project.data.containsDemo }
                        classname="mx-4 mb-4">{ project.data.description }</Card>
        })
      }
    </div>
  </div>
</Main>
